version: "3.8"

services:
  app:
    image: fastapi-docker-jenkins:1.0
    container_name: fastapi-docker-jenkins
    ports:
      - "8000:8000"  
    environment:
      - MONGO_URL=mongodb://admin:admin@mongo:27017
    depends_on:
      - mongo
      - mongo-express

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=admin

    depends_on:
      - mongo

volumes:
  mongo_data:
